@page
@model CourseModel

<div class="container">
    <div class="container-fluid mt-3 mb-3">
        <br />
        <br />
        <div class="row g-2">
            <h3>Course page</h3>
        </div>
        <div class="row g-2">
            @await Component.InvokeAsync("CoursesComponent", new { count = 2})
            
            @*<vc:popular-brews count="2" />*@
        </div>
    </div>
</div>
