@page
@model IndexModel

<div class="container">
    <div class="container-fluid mt-3 mb-3">
        <br />
        <br />
        <div class="row g-2">
            <h3>Home page</h3>
        </div>
        <div class="row g-2">
            <h2>Tag helper cache example: </h2>
            @*<cache expires-after="TimeSpan.FromSeconds(10)" vary-by-query="param">*@
            <h2>Current date time: @DateTime.Now</h2>
            @*</cache>*@
        </div>
        <div class="row g-2">
            @await Component.InvokeAsync("CoursesComponent", new { count = 3 })
        </div>
    </div>
</div>

@section FooterSecond{
    <h5 class="text-uppercase">Footer text for home</h5>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
        molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
        aliquam voluptatem veniam, est atque cumque eum delectus sint!
    </p>
} 