@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <br />
    <br />
    <h1 class="mt-4 mb-3">
        Register!
    </h1>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-success">@Model.Message</div>
    }
    <div class="row">
        <div class="col-md-8 mb-4">
            <form asp-page="Register" method="post" name="sentMessage" id="contactForm">
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="User.Name">Name:</label>
                        <input asp-for="User.Name" class="form-control" />
                        <span asp-validation-for="User.Name" class="alert-danger"></span>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="User.Phone">Phone Number:</label>
                        <input asp-for="User.Phone" class="form-control" />
                        <span asp-validation-for="User.Phone" class="alert-danger"></span>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="User.Email">Email:</label>
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="alert-danger"></span>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="User.Password">Password:</label>
                        <input asp-for="User.Password" class="form-control" type="password" />
                        <span asp-validation-for="User.Password" class="alert-danger"></span>
                    </div>
                </div>
                <div id="success"></div>
                <button type="submit" class="btn btn-success" id="sendMessageButton">Register</button>
            </form>
        </div>
        <div class="col-md-4">
            <div>
                <h3>Newsletter Subscription</h3>
                <p>We are working to make things better. You can get notified by subscribing below.</p>
                <form asp-page-handler="Subscribe">
                    <div class="control-group form-group">
                        <input name="email" type="text" class="form-control" placeholder="Email" />
                    </div>
                    <div class="control-group form-group">
                        <input type="submit" class="btn btn-success" value="Subscribe" />
                    </div>
                </form>
            </div>
            <hr />

            <partial name="Advertisement" model="@("Quảng cáo tại register")" />

            <br />
        </div>
    </div>
</div>


@section FooterSecond{
    <h5 class="text-uppercase">Footer text for register page</h5>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
        molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
        aliquam voluptatem veniam, est atque cumque eum delectus sint!
    </p>
} 